# First Jupyter notebook on Watson studio

In [1]:
# The code was removed by Watson Studio for sharing.

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20
3     Adana          Turkey     36.99      35.32        18.67
4  Albacete           Spain     39.00      -1.87        12.62